@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

.content-wrapper,
.right-side {
  background-color: #ffffff;
}



h1 {
	display: inline;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  line-height: 0.5;
  text-align:center;
  color: #ffffff;
}


dawg {
	display: inline;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  line-height: 0.5;
  text-align:center;
  color: #ffffff;
}