export(GSEA)
export(Initialise_MCXpress)
export(MCA)
export(cluster_hclust)
export(cluster_k_medoids)
export(cluster_kmeans)
export(cluster_supervised)
export(cluster_igraph)
export(cluster_mclust)
export(discretisation_01)
export(discretisation_bsplines)
export(filter_outlier)
export(select_most_variable_genes)
import(BiocParallel)
import(diptest)
import(dplyr)
import(fgsea)
import(ggplot2, except=c(last_plot))
import(lazyeval)
import(magrittr)
import(plotly)
import(shiny)
import(shinydashboard)
import(shinythemes)
import(statmod)
import(tibble)
importFrom(mclust, mclustBIC, Mclust)
importFrom(cluster,pam)
importFrom(fields,rdist)
importFrom(purrr,map2,map_df, map)
importFrom(splines,bs)
importFrom(stats,setNames)
importFrom(stats,var,wilcox.test,quantile,hclust,as.dist, cor, cutree,na.omit,kmeans)
importFrom(tidyr,gather,gather_,separate, separate_,spread, spread_)
importFrom(stringr,str_length)
importFrom(utils,head,setTxtProgressBar, txtProgressBar)

